html,body{
  min-width: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: 'Segoe UI Semi-Bold', sans-serif;
  font-weight: 400;
  color: #5b5b5b
}
@font-face {
  src: url('../font/BRADHITC.ttf');
  font-family:'anyma';
  font-style: normal;
}
h3{
  font-weight: 300;
}

.anyma-font{
font: 20px'anyma', sans-serif;
color: white;
  text-shadow: 0px 0px 20px #d2ccc5;
  font-size: 15em;
}

#anyma_font{
  color: white;
    text-shadow: 0px 0px 20px #d2ccc5;
    font-size: 15em;
}

.full-container{
  width: 100%;
}

#home__main_color{

    background-color: #dad1cb;
    height: 70vh;

}

#home__main_color p{
  font-size: 180px;
  padding-top: 10%;
}


.blocco{
  background-color: #dad1cb;
padding: 35px 20px 10px 20px;
}


#macchina{
  position: relative;
  font-size: 1.3vw;
}

#macchina .blocco{
  width: 350px;
  height: 310px;
  position: absolute;
  z-index: 4;
  left: 40px;
  top: 100px;
  font-size: 1.3vw;
}


#macchina img{
  width: 60%;
  height: auto;
}


#esagoni .blocco{
  width: 500px;
  margin: 0 auto;

}

#esagoni .mt-5{
  margin-top: 5rem!important;
}

#esagoni .col-3 .blocco{
  width: 100%;
}


#colonne .col-4{
  font-size: 23px;
  margin: auto 0;
}

#colonne .separatore{
  height: 378px;
  width: 1px;
  border: 2px solid #dad1cb;
  float: left;
  margin-right: 20px;
}






footer{
  background-color: #a5968c;
  width: 100%;
  color: white;
  padding-bottom: 50px;
}

footer .col{
  margin-top: 50px;
}

footer .col p{
  margin: 0;

}

footer .icons{
  list-style: none;

}

footer .icons li a i{
  margin-bottom: 20px;
  color: white;
}

footer .fa-facebook-f{
  padding-right: 5px;
}
